{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "esmodules": true
        }
      }
    ],
    "@babel/preset-stage-0",
    "@babel/preset-react"
  ],
  "plugins": ["@babel/plugin-syntax-class-properties", "@babel/plugin-transform-regenerator"]
}
